* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  
  html {
    background: #faf7f2;
    background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .subtle {
    color: #aaa;
  }
  
  .main-card--cointainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
  }
  
  .card-container {
    margin: 25px auto 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .card-container img {
    max-width: 100%;
    height: 300px;
  }
  
  .card {
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
    z-index: 1;
  }
  
  .card-body {
    display: inline-block;
  }
  
  .card-number {
    margin-top: 15px;
  }
  
  .card-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;
  }
  
  .card-author {
    display: block;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin: 15px 0 0;
    text-transform: uppercase;
  }
  
  .card-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
    text-transform: capitalize;
  }
  
  .card-description {
    /* display: inline-block; */
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }
  
  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
  }
  
  .card-tag {
    float: right;
    margin: 5px 0 0;
    border: 1px solid #aaa;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .card-tag:hover {
    background: #aaa;
    color: black;
  }
  
  .card-media {
    max-width: 100%;
    height: auto;
  }
  
  .card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
      0 0 100px 3px rgba(0, 0, 0, 0.25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
  }
  
  @media (max-width: 998px) {
    .main-card--cointainer {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 500px));
      grid-gap: 50px;
      justify-content: space-around;
    }
  }
  
  /* ---------- Button styles ------------------ */
  
  .navbar {
    padding-top: 50px;
    text-align: center;
  }
  
  .navbar h1 {
    padding-bottom: 20px;
    text-transform: capitalize;
  }
  
  /** button group styles **/
  .btn-group {
    border-radius: 1rem;
    text-transform: capitalize;
  }
  .btn-group__item {
    border: none;
    /* min-width: 6rem; */
    padding: 1.5rem 3rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0;
    font-size: 17px;
    box-shadow: inset 0px 0px 0px -15px rebeccapurple;
    transition: all 300ms ease-out;
    text-transform: capitalize;
  }
  .btn-group__item:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .btn-group__item:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .btn-group__item:hover,
  .btn-group__item:focus {
    color: rebeccapurple;
    box-shadow: inset 0px -20px 0px -15px rebeccapurple;
  }
  .btn-group__item:focus {
    outline: none;
  }
  .btn-group__item:after {
    content: "✔️";
    margin-left: 0.5rem;
    display: inline-block;
    color: rebeccapurple;
    position: absolute;
    transform: translatey(10px);
    opacity: 0;
    transition: all 200ms ease-out;
  }
  .btn-group__item--active:after {
    opacity: 1;
    transform: translatey(-2px);
  }

  .table-container-user {
    background: #fff;
    max-height: 71vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
  }
  
  .user-table tr {
    text-align: left;
    border-bottom: 1px solid #d0cece;
    color: #4f4f4f;
    cursor: pointer;
  }
  .user-table .tbody  tr:hover{
background: rgba(0, 0, 0, 0.175);
  }
  
  .user-table thead {
    background: #deffe1;
    padding: 10px;
  }
  
  .user-table thead th {
    padding: 10px;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    border-right: 1px solid grey;
  }
  
  .user-table tbody {
    text-align: center;
  }
  
  .user-table tbody td {
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
  }
  
 .fieldEditButton {
    border: none;
    text-decoration: none;
    padding: 10px;
    margin: auto 10px;
    font-weight: bold;
    background: #44cd4a;
    border-radius: 10px;
    color: #f2f2f2;
    cursor: pointer;
  }
  
  .user-table tbody .fieldEditButton:hover {
    background: #44cd4b85;
  }
  
  .user-table thead tr th.user-mobile {
    width: 180px;
  }
  
  .user-table thead tr th.user-name {
    width: 220px;
  }
  
  .user-table thead tr th.user-visits {
    width: 80px;
  }
  
  .user-table thead tr th.user-balance {
    width: 120px;
  }
  
  .user-table thead tr th.user-address {
    width: 300px;
  }
  
  .filter-input-row, .filter-input-row>div {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    padding: 10px;
  }
  
  .filter-input-row>div>h4 {
    white-space: nowrap;
  }
  
  .filter-input-row>div {
    padding: 0;
  }
  
  .filter-input-row>div>input {
    max-width: 400px;
    margin: auto 10px;
  }
  
  #balanceIco {
    width: 30px;
    height: 30px;
    color: black;
    margin-right: 5px;
    transition: all .5s ease;
  }
  
  #toggle-customer-balances>span {
    display: inline-block;
    position: relative;
    top: -10px;
    transition: all .5s ease;
  }
  
  #toggle-customer-balances {
    background: transparent;
    border: none;
    padding: 10px 25px;
    white-space: nowrap;
    transition: all .2s;
  }
  
  #toggle-customer-balances:hover, #toggle-customer-balances.active {
    border-radius: 3px;
    background: #44cd4b2e;
    color: #2fa234;
  }
  
  #toggle-customer-balances:hover #balanceIco, #toggle-customer-balances.active #balanceIco {
    color: #00b31a;
  }
  .orders-report-container {
    position: absolute;
    top: 50px;
    left: 85px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    overflow: hidden;
}

.orders-report-container>#heading {
    width: calc(100vw - 85px);
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
}

.orders-report-container>#heading>h2 {
    margin-right: 212px;
    padding: 7px;
}

#filters-container {
    background: white;
}

#searchbar-container {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    gap: 10px;
}

#searchbar-container>input {
    padding: 8px;
    /* border-radius: 3px; */
    width: 100%;
    font-size: 16px;
    transition: all .2s ease-in;
}

#searchbar-container>input:hover {
    background-color: #b6b6b63b;
}

#searchbar-container>button {
    border: none;
    outline: none;
    padding: 10px 20px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    background-color: black;
    font-size: 16px;
    font-weight: 500;
}

.inputs-container {
    display: flex;
    padding: 10px 0;
}

.selection-field {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}


/* DATE PICKER STYLING */
.react-datepicker__day.react-datepicker__day--keyboard-selected {
    background: none;
    color: black;
}

.react-datepicker__day.react-datepicker__day--today {
    font-weight: 800;
}


.date-display {
    position: absolute;
    margin-top: 22px;
    background: #a6a6ff;
    font-weight: 600;
    padding: 5px;
    margin-left: 5px;
}

.date-field {
    width: min-content;
}

.date-picker.test {
    width: min-content;
    text-align: start;
}

.date-field.from.orders-page>.react-datepicker__tab-loop>.react-datepicker-popper {
    position: absolute !important;
    inset: 0px auto auto 0px !important;
    transform: translate(82.5px, 115.5px) !important;
}

.date-field.to.orders-page>.react-datepicker__tab-loop>.react-datepicker-popper {
    position: absolute !important;
    inset: 0px auto auto 0px !important;
    transform: translate(316.5px, 115.5px) !important;
}

.field-title {
    margin: .5rem 0;
}

.dropdown-trigger {
    min-width: 175px;
    transition: all .2s ease;
}

.dropdown-trigger:hover+.show-selections {
    display: flex;
}

.dropdown-trigger,
#filters-popup-trigger,
#filters-search-btn {
    height: 40px;
    background: none;
    border: 1.5px solid black;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
}

.dropdown-trigger>.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    padding: 2px;
    transform: rotate(45deg);
    z-index: -1;
}

.show-selections {
    position: absolute;
    margin-top: -10px;
    min-width: 175px;
    width: auto;
    background: #eeeeee;
    display: none;
    padding: 13px;
    z-index: 100;
    box-shadow: 1px -5px 5px rgba(128, 128, 128, 0.445);
    font-weight: 500px;
}

.show-selections>*,
#trigger-text>* {
    padding-right: 3px;
    white-space: nowrap;
}

.show-selections>*::after {
    content: ",";
}

#trigger-text>:nth-child(2)::before {
    content: ', ';
}

#trigger-text>:nth-child(2)::after {
    content: '...';
}

.dropdown {
    position: absolute;
    margin-top: 73px;
    min-width: 175px;
    background-color: white;
    font-size: 14px;
    border-radius: 2px;
    overflow: hidden;
    border: none;
    transition: all .3s ease;
    display: none;
    z-index: 10;
}

.dropdown.edit-columns {
    margin-top: 40px;
}

.dropdown.visible {
    border: 1px solid #00000054;
    display: block;
    max-height: 290px;
    overflow: auto;
}

.dropdown .input-div {
    padding: 5px;
    color: #000000c2;
    transition: background .3s ease;
}

.dropdown .input-div:hover {
    background: #0000001e;
}

.dropdown-trigger:hover {
    background: #6e6e6e23;
}

.input-div label {
    display: flex;
}

.input-div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.input-div[lable="Local Order No"]>label {
    color: grey;
}

.input-div[lable="Local Order No"]>label>input:checked~.checkmark {
    background: rgba(128, 128, 128, 0.383);
}

.checkmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin: 0 5px;
    border-radius: 2px;
}

.input-div:hover input~.checkmark {
    background-color: #ccc;
}

.input-div input:checked~.checkmark {
    background-color: #44cd4a;
}

.input-div .checkmark:after {
    content: "";
    position: relative;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input-div input:checked~.checkmark:after {
    display: block;
}

.date-picker {
    width: 170px;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid;
}

#filters-popup-trigger {
    outline: none;
    height: fit-content;
    width: fit-content;
    border-color: transparent;
    color: white;
    margin: auto 10px 10px 10px;
    padding: 10px 15px;
    border-radius: 4px;
    background: #000000;
    transition: all .4s ease;
}

/* From cssbuttons.io by @nikk7007 */
#filters-search-btn {
    --color: #44cd4a;
    min-width: fit-content;
    padding: 0.8em 1.7em;
    background-color: black;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
    font-size: 17px;
    border: none;
    font-family: inherit;
    color: white;
    margin: auto 10px 10px 10px;
    z-index: 1;
}

#filters-search-btn::before,
#filters-search-btn::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: .7s ease;
}

#filters-search-btn::before {
    top: -1em;
    left: -1em;
}

#filters-search-btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

#filters-search-btn:hover::before,
#filters-search-btn:hover::after {
    height: 200px;
    width: 200px;
}

#filters-search-btn:hover {
    color: white;
}

#filters-search-btn:active {
    filter: brightness(.8);
}


#filters-popup-trigger {
    padding: 5px;
    background: none;
}

#filters-popup-trigger:hover {
    background: #0000001f;
}

#filters-popup-trigger>svg {
    width: 40px;
    color: black
}

#rightSided {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


#pay-modes-table {
    position: absolute;
    top: 120px;
    right: 190px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.561);
    overflow: hidden;
    background-color: #44cd4a;
    z-index: 1000000;
    outline: none;
}

.pay-modes-body {
    max-height: 500px;
    display: block;
    overflow-y: scroll;
    margin-right: -13px;
    overflow-x: hidden;
    margin: -2px -14px -4px -3px;
    background-color: white;
}

.pay-modes-head>tr>th {
    width: 50%;
    color: white;
}

.pay-modes-body>tr {
    display: flex;
    border-bottom: 2px solid grey;
    width: 100% !important;
}

.pay-modes-body>tr>td {
    width: 50%;
}

.pay-modes-body>tr:hover {
    background-color: rgba(177, 177, 177, 0.226);
}

.pay-modes-body>tr>td,
.pay-modes-head>tr>th {
    white-space: nowrap;
    min-width: 80px;
    text-align: start;
    padding: 10px;
    display: inline-block;
}

.pay-mode-toggle {
    transition: all .5s ease;
    padding: 11px !important;
    cursor: pointer;
}

.pay-mode-toggle:hover,
.pay-mode-toggle.active {
    border-radius: 3px;
    background: #44cd4b2e;
    color: #2fa234;
}

.report-stats {
    white-space: nowrap;
    padding: 10px;
    margin: auto 0 10px;
}

.report-stats.container {
    margin-bottom: 0;
}

.report-stats.container>* {
    display: block;
    margin-bottom: 5px;
    min-width: 180px;
}

#edit-column {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

#edit-column>.selection-field {
    width: 175px;
}

#edit-column>.selection-field>.dropdown-trigger {
    border: none;
    transition: background .6s ease;
    justify-content: flex-start;
}

#edit-columns-pencil {
    height: 20px;
    margin: 0 5px;
    color: black;
}

#edit-column>.selection-field>.dropdown-trigger:hover {
    border-radius: 3px;
    background: #44cd4b2e;
    color: #2fa234;
}

#edit-column>.selection-field>.dropdown-trigger:hover #edit-columns-pencil {
    color: #2fa234;
}

.report-orders-table {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-right: 0;
    margin-top: 0;
}

.report-fields {
    cursor: pointer;
}

.report-fields:hover {
    background-color: rgba(128, 128, 128, 0.164);
}

.report-fields>td {
    text-align: center;
    white-space: nowrap;
}

td.order_total::before,
td.selected_mode_amount::before {
    content: 'Rs.';
}

div#no_reports {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 22px;
}

#sidebar-container {
    width: 0;
    height: calc(100vh - 177.07px);
    position: absolute;
    transition: background .5s ease;
    background: none;
    z-index: 1;
}

#filters-sidebar {
    height: calc(100vh - 177.07px);
    position: absolute;
    background: white;
    top: 0;
    left: -500px;
    padding: 15px 25px;
    border-top: 1px solid #8080808c;
    transition: left .2s ease-in;
    z-index: 1;
}

#sidebar-container.active {
    background: #00000085;
    width: 100%;
}

#filters-sidebar.active {
    left: 0px;
}

::-webkit-resizer {
    visibility: hidden;
}

#reports-loading-spinner {
    width: 100%;
    height: calc(100% - 140px);
    position: absolute;
    top: 135px;
    left: 0;
    margin: auto;
    z-index: 1000;
    background: rgb(255, 255, 255);
}

#reports-loading-spinner>img {
    display: block;
    position: absolute;
    top: calc(50% - 75px);
    left: 50%;
    transform: translate(-50%, -50%);
}

#table-container {
    width: calc(100vw - 85px);
    height: calc(100vh - 177.4px);
    overflow-x: scroll;
    padding-bottom: 45px;
}

.t-head-element {
    display: flex;
}

.t-head-element span {
    margin: auto 0;
    white-space: nowrap;
}

.tabular-content table th>*::after {
    content: '>>';
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: cursive;
    font-size: 10px;
    font-weight: 600;
    border-radius: 10px;
    transition: background .4s ease;
    padding: 3px;
}

.sort-buttons-container {
    display: flex;
    flex-direction: column;
}

.sort-buttons-container button {
    background: none;
    outline: none;
    border: none;
    height: 15px;
}

.sort-buttons-container button:hover .sort-button {
    color: #ffffff;
    background: rgba(134, 134, 134, 0.705);
}

.sort-button {
    color: black;
    height: 15px;
    cursor: pointer;
    transition: background .4s ease;
    border-radius: 10px;
}

.sidebar-row>* {
    margin: 5px;
}

.sidebar-row {
    display: flex;
    justify-content: space-between;
}

.single-element>.selection-field>.dropdown {
    width: 360px;
}

#loadingDiv {
    padding: 10px;
    text-align: center;
}

#loadingDiv>img {
    height: 35px;
}

.pages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.pages-container>* {
    border: 1px solid grey;
    border-radius: 1rem;
    padding-left: 10px;
    padding-top: 5px;
    margin: 0 5px;
    transition: all .5s ease;
    width: 30px;
    height: 30px;
}

.pages-container>*:hover {
    background: rgba(187, 187, 187, 0.349);
}


/* CUSTOMER REPORTS STYLING */
.customer-reports-container {
    background: white;
    height: -webkit-fill-available;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
    width: calc(100vw - 75px);
}

.customer-reports-container.table-container-user {
    left: 0 !important;
}

.item-sales-container {
    padding: 0px !important;
    background: white;
    width: calc(100vw - 100px);
    left: 100px;
}

#item-sales-top {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    gap: 20px;
}

#date-input-container {
    display: flex;
    gap: 10px;
}

div#date-input-container>label {
    max-width: min-content;
}

input#item-sales-searchbar {
    padding: 8px;
    margin-top: 14px;
    border-radius: 4px;
    width: 350px;
    border: 1px solid;
}

.item-sales-search {
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 5px;
    height: fit-content;
   
    gap: 5px;
}

.pagination {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination.orders-report {
    bottom: 9px;
}

.pagination div {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination div.active {
    background-color: #4CAF50;
    color: white;
}

.pagination div:hover:not(.active) {
    background-color: #ddd;
}
.form {
    display: flex;
    flex-direction: column;
    /* gap: 1.2rem; */
    justify-content: space-between;
    height: 100%;
    height: fit-content;
    overflow: hidden;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    overflow: auto;
  }
  
  .generalTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    font-size: 20px;
    margin: 10px 0 20px;
  }
  
  #top_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
    align-items: flex-end;
  }
  
  #top_content>div>label {
    min-width: 8rem;
    height: 8rem;
    background: #80808029;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
  }
  
  #top_content>div>label>span {
    display: block;
    width: 8rem;
    height: 100%;
    text-align: center;
    padding: 45px 0;
    color: grey;
    font-size: 17px;
    font-weight: 600;
  }
  
  .brand_invoice_logo {
    object-fit: cover;
    width: auto;
    max-width: 35rem;
  }
  
  #delete_logo {
    margin: auto;
    margin-top: -34px;
    width: 34px;
    height: 34px;
    padding: 6px;
    background: #e91000e8;
    color: white;
    border-radius: 100%;
    transition: all .3s;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #delete_logo:hover {
    padding: 3px;
  }
  
  .noSpaceForm {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: 100%;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: green solid 2px;
    border-radius: 1rem;
    padding: 1.2rem;
    position: relative;
  }
  
  .formGroup>h2 {
    font-weight: 600;
  }
  
  .selectLabel {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    letter-spacing: 0.5px;
    white-space: nowrap;
  }
  
  .selectLabel>input,
  .selectLabel>select,
  .selectLabel>textarea {
    border-radius: 1rem;
    padding: 5px 10px;
    outline: none;
    border: 0.5px solid grey;
    letter-spacing: 0.5px;
  
  }
  
  .checkboxLabel {
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    align-items: center;
  }
  
  .select,
  .multiSelect,
  .numberInput {
    padding: 0.2rem;
    font-size: medium;
  }
  
  .select,
  .numberInput {
    height: 2.4rem;
  }
  
  .select,
  .multiSelect,
  .numberInput,
  .messageTextarea {
    outline-color: var(--mainColor);
  }
  
  .messageTextarea {
    height: 5rem;
    font-family: sans-serif;
    resize: vertical;
  }
  
  .multiSelect,
  .messageTextarea,
  .emptyCol {
    width: 16rem;
  }
  
  .select {
    width: 12rem;
  }
  
  .row {
    display: flex;
    gap: 1rem;
    /* position: relative; */
    align-items: flex-end;
    overflow: visible;
  }
  
  .row>h1 {
    text-align: center;
    width: 100%;
    font-weight: 600;
  }
  
  .submit {
    margin-top: 20px;
    padding: 0.5rem 1.5rem;
    font-size: large;
    background-color: #44cd4a;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    height: 40px;
  }
  
  .multiSelect {
    height: 5rem;
  }
  
  @media (max-width: 1024px) {
    .row {
      flex-direction: column;
    }
  }
  
  .addMealButton {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainColor);
    border: none;
    border-radius: 0.2rem;
  }
  
  .addMealButton>img {
    width: 80%;
    height: 80%;
  }
  
  .groupLabel {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .fieldCustomizationButton {
    padding: 15px 20px;
    font-size: large;
    background-color: #00b0f0;
    color: white;
    border: none;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2rem;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
  }
  
  .bottom_cover {
    margin-bottom: 18px;
  }
  
  .itemGroupingButton {
    padding: 0.2rem;
    font-size: medium;
    background-color: #00b0f0;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0 1rem;
    height: 2.2rem;
    margin-left: 2rem;
  }
  
  .blueButtonGroup {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 1rem;
  }
  
  .selections {
    border: 1px solid black;
    padding: 2px;
    width: 16rem;
  }
  
  .option {
    cursor: pointer;
    vertical-align: center;
    padding: 1px;
  }
  
  .option:hover {
    color: white;
    background: #44cd4a;
  }
  
  .selected {
    color: white;
    padding: 1px;
    cursor: pointer;
    background: #14bd1c;
  }
  
  .deleteBtn {
    background: none;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
  }
  
  .deleteBtn:hover {
    background-color: black;
    color: red;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    margin-right: 0.5rem;
    height: 28px;
    display: flex;
    flex-direction: column;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    border-radius: 34px;
  }
  
  .slider:before {
    border-radius: 50%;
  }
  
  .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-size: medium;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: sticky;
  }
  
  .heading>h1 {
    margin: 10px 0;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 4rem;
  }
  
  .status {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal {
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    height: 100%;
  }
  
  .content {
    /* overflow: scroll; */
    padding: 0;
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .closeButton {
    position: absolute;
    top: 5px;
    right: 12px;
    padding: 0 0.5rem;
    background-color: black;
    color: white;
    border: 0;
    font-size: 2rem;
    border-radius: 100vh;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .closeButton:hover {
    background-color: var(--mainColor);
  }
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th {
    text-align: left;
    background-color: #deffe1;
    border-bottom: 1px solid rgb(208, 206, 206);
    padding: 10px;
    overflow: auto;
    text-overflow: ellipsis;
    font-weight: 700;
    letter-spacing: 0.7px;
    font-size: larger;
    color: slategrey;
  }
  
  .table tr {
    border-bottom: 1px solid rgb(208, 206, 206);
    color: rgb(79, 79, 79);
    max-height: 300px;
  }
  
  .table tr.row {
    border-bottom: 1px solid rgb(208, 206, 206);
    color: rgb(79, 79, 79);
  }
  
  .table tr.collapse {
    overflow: scroll;
  }
  
  .table tr.collapse table {
    width: 100%;
    height: 100%;
  }
  
  .table tr.collapse table thead .collapse-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .table tr.collapse>td {
    display: none;
  }
  
  .table tr.collapse td.active {
    display: table-cell;
  }
  
  .table td {
    padding: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  .table td button {
    padding: 5px;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 1.5rem;
  }
  
  .table tbody {
    padding: 30px;
    background-color: white;
    text-align: left;
  }
  
  .table tbody td {
    text-align: left;
  }
  
  .description {
    width: 100%;
    resize: horizontal;
  }
  
  .actionButton {
    background-color: #44cd4a !important;
    color: white !important;
    padding: 0.4rem 2rem !important;
    font-size: medium !important;
    border-radius: 0.5rem;
  }
  
  .noBgActionButton {
    color: white !important;
    padding: 0.4rem 2rem !important;
    border-radius: 0.5rem;
  }
  
  .dragColumn {
    width: 4rem;
  }
  
  .titleColumn {
    width: 24rem;
  }
  
  .sort_order {
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    background: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 5px;
    color: #757575;
  }
  
  .statusColumn {
    width: 8rem;
  }
  
  .selectColumn {
    width: 10rem;
  }
  
  .actionColumn {
    width: 8rem;
  }
  
  .mealTitleInput {
    padding: 0.6rem;
    font-size: medium;
    width: 80%;
  }
  
  .mealTitleSelect {
    font-style: none;
    font-size: medium;
    width: 100%;
  }
  
  .mealTitleOption {
    margin: 5px 0;
    padding: 0 5px;
    cursor: pointer;
  }
  .form {
    display: flex;
    flex-direction: column;
    /* gap: 1.2rem; */
    justify-content: space-between;
    height: 100%;
    height: fit-content;
    overflow: hidden;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    overflow: auto;
  }
  
  .generalTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    font-size: 20px;
    margin: 10px 0 20px;
  }
  
  #top_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
    align-items: flex-end;
  }
  
  #top_content>div>label {
    min-width: 8rem;
    height: 8rem;
    background: #80808029;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
  }
  
  #top_content>div>label>span {
    display: block;
    width: 8rem;
    height: 100%;
    text-align: center;
    padding: 45px 0;
    color: grey;
    font-size: 17px;
    font-weight: 600;
  }
  
  .brand_invoice_logo {
    object-fit: cover;
    width: auto;
    max-width: 35rem;
  }
  
  #delete_logo {
    margin: auto;
    margin-top: -34px;
    width: 34px;
    height: 34px;
    padding: 6px;
    background: #e91000e8;
    color: white;
    border-radius: 100%;
    transition: all .3s;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #delete_logo:hover {
    padding: 3px;
  }
  
  .noSpaceForm {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: 100%;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: green solid 2px;
    border-radius: 1rem;
    padding: 1.2rem;
    position: relative;
  }
  
  .formGroup>h2 {
    font-weight: 600;
  }
  
  .selectLabel {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    letter-spacing: 0.5px;
    white-space: nowrap;
  }
  
  .selectLabel>input,
  .selectLabel>select,
  .selectLabel>textarea {
    border-radius: 1rem;
    padding: 5px 10px;
    outline: none;
    border: 0.5px solid grey;
    letter-spacing: 0.5px;
  
  }
  
  .checkboxLabel {
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    align-items: center;
  }
  
  .select,
  .multiSelect,
  .numberInput {
    padding: 0.2rem;
    font-size: medium;
  }
  
  .select,
  .numberInput {
    height: 2.4rem;
  }
  
  .select,
  .multiSelect,
  .numberInput,
  .messageTextarea {
    outline-color: var(--mainColor);
  }
  
  .messageTextarea {
    height: 5rem;
    font-family: sans-serif;
    resize: vertical;
  }
  
  .multiSelect,
  .messageTextarea,
  .emptyCol {
    width: 16rem;
  }
  
  .select {
    width: 12rem;
  }
  
  .row {
    display: flex;
    gap: 1rem;
    /* position: relative; */
    align-items: flex-end;
  }
  
  .row>h1 {
    text-align: center;
    width: 100%;
    font-weight: 600;
  }
  
  .submit {
    padding: 0.5rem 1.5rem;
    font-size: large;
    background-color: #44cd4a;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    height: 40px;
  }
  
  .multiSelect {
    height: 5rem;
  }
  
  @media (max-width: 1024px) {
    .row {
      flex-direction: column;
    }
  }
  
  .addMealButton {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainColor);
    border: none;
    border-radius: 0.2rem;
  }
  
  .addMealButton>img {
    width: 70%;
    height: 70%;
  }
  
  .groupLabel {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .fieldCustomizationButton {
    padding: 15px 20px;
    font-size: large;
    background-color: #00b0f0;
    color: white;
    border: none;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2rem;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
  }
  
  .bottom_cover {
    margin-bottom: 18px;
  }
  
  .itemGroupingButton {
    padding: 0.2rem;
    font-size: medium;
    background-color: #00b0f0;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0 1rem;
    height: 2.2rem;
    margin-left: 2rem;
  }
  
  .blueButtonGroup {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 1rem;
  }
  
  .selections {
    border: 1px solid black;
    padding: 2px;
    width: 16rem;
  }
  
  .option {
    cursor: pointer;
    vertical-align: center;
    padding: 1px;
  }
  
  .option:hover {
    color: white;
    background: #44cd4a;
  }
  
  .selected {
    color: white;
    padding: 1px;
    cursor: pointer;
    background: #14bd1c;
  }
  
  .deleteBtn {
    background: none;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
  }
  
  .deleteBtn:hover {
    background-color: black;
    color: red;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    margin-right: 0.5rem;
    height: 28px;
    display: flex;
    flex-direction: column;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    border-radius: 34px;
  }
  
  .slider:before {
    border-radius: 50%;
  }
  
  .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-size: medium;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: sticky;
  }
  
  .heading>h1 {
    margin: 10px 0;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 4rem;
  }
  
  .status {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex: 1;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;
  }
  
  .searchInput {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: medium;
    max-width: 32rem;
  }
  